<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="welcomeContainer">
            <h1 class="welcomeMessage centerText" id="welcome">Welcome!</h1>
            <h3 class="welcomeMessage centerText" id="instructions">If you already have an account, click Login. Or click Register to sign up!</h3>
    
            <div id="buttonContainer">
                <a href="/login" class="bigButton welcomeButton">Login</a>
                <a href="/register" class="bigButton welcomeButton">Register</a> 
            </div>
        </div>
    </body>
</html>